
{:source-paths ["src/"]
 :builds {:app {:target :npm-module
                :output-dir "target/"
                :release {:entries [example.main]
                          :output-dir "target/release/"}}}}
